[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-login = "*"
markdown = "==2.6.4"
pygments = "*"
jinja2 = "*"

[requires]
python_version = "3.6"
